code/comparing_wales copy.ipynb
code/.ipynb_checkpoints
/simulation_data
/walesICbook5Alpha1.3Beta1.1SigmavarFactor2Deltat0.0004Tmax500.0_0
/walesICbook5Alpha2.5Beta1.1SigmavarFactor2Deltat0.0004Tmax500.0_0
